{%extends 'instagrm/base.html'%}
{%load bootstrap4 %}
{%load static %}
{% block content %} 
{{ block.super}}

<div class="container">

  <a class="btn btn-primary" data-toggle="collapse" href="#collapsePost" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="fas fa-upload">upload</i>
  </a>

  <!-- {{ form.media }} -->
  <div class="collapse" id="collapsePost">
  <form action="{% url 'welcome' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="post"/>
  </form>

  </div>
  

  <br>


  {% if posts %}
  {% for post in posts %}
  <div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card" style="width: 45rem;">
      
      <h1>{{post.image_name}}{{image.id}}</h1>
      <img src="{{ post.image_photo.cdn_url }}-/crop/350x350/center/-/quality/lightest/" class="card-img-top" alt="...">
      <div class="card-footer">
        <a class="btn " href="{{post.image_comments}}" role="button">
        <i class="far fa-heart fa-2x"  style="color: red;"></i>
      </a>
      <a class="btn " href="{{post.image_comments}}" role="button">
        <i class="far fa-comment fa-2x" style="color: blue;"></i></a>
      </div>
      </div>
      </div>
    </div>
  {% endfor %}
  {% endif %} 


</div>

{% endblock %}